{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static 'css/style.css'%}" />
    <title>{% block title %}User test{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="{% static 'js/rango-jquery.js' %}"></script>
  </head>

  <body>
    <div id="header">
      {% block header %}
      <a href="{% url 'rango:index' %}">Home</a>
      <hr />
      {% endblock %}
    </div>

    <div id="content">
      {% block body %}{% endblock %}
    </div>

    <div id="footer">
      {% block footer %}
      <hr />
      {% endblock %}
    </div>
  </body>
</html>
