<!DOCTYPE html>
{% load static%}

<html>
  <head>
    <title>Rango</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/style.css'%}" />
  </head>
  <body>
    <!-- Header -->
    <header id="header">
      <h1>
        <a href="#">TangoWithDjango</a>
      </h1>
      <a href="/rango/login">Login</a>
    </header>

    <!-- Nav -->

    <!-- Banner -->
    <!--
				To use a video as your background, set data-video to the name of your video without
				its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
				formats to work correctly.
			-->
    <section id="banner">
      <div class="inner">
        <header>
          <h1>This is TangoWithDjango</h1>
          <p>
            My first and maybe the only website made only with python , no js
            bullshit and yes it is a template
          </p>
        </header>
        <a href="#main" class="button big alt scrolly">se romeo baby</a>
      </div>
    </section>

    <!-- Main -->
    <div id="main">
      <!-- One -->
      <section class="wrapper style1">
        <div class="inner">
          <header class="align-center">
            <h2>My love car</h2>
            <p>
              just to add that you'll never have the opportunity to make you
              foot in it. and have a good day
            </p>
          </header>
          <!-- 2 Column Video Section -->
          <div class="flex flex-2">
            <div class="video col">
              <div class="image fit">
                <img src="{% static 'images/romeo.jpg'%}" alt="romeo1" />
                <div class="arrow">
                  <div class="icon fa-play"></div>
                </div>
              </div>
              <p class="caption">
                the italian beauty
              </p>
              <a href="{{ msg }}" class="link"><span>Click Me</span></a>
            </div>
            <div class="video col">
              <div class="image fit">
                <img src="{% static 'images/romeo2.jpg'%}" alt="romeo2" />
                <div class="arrow">
                  <div class="icon fa-play"></div>
                </div>
              </div>
              <p class="caption">
                look at thoses brakes god damn it !!
              </p>
              <a href="{Car.url}" class="link"><span>Click Me</span></a>
            </div>
          </div>
        </div>
      </section>

      <!-- Two -->
      <section class="wrapper style2">
        <div class="inner">
          <header>
            <h2>Etiam veroeros lorem</h2>
            <p>
              Fusce fringilla enim sit amet lectus sollicitudin, eu tincidunt
              odio semper.
            </p>
          </header>
          <!-- Tabbed Video Section -->
          <div class="flex flex-tabs">
            <ul class="tab-list">
              <li>
                <a href="#" data-tab="tab-1" class="active"
                  >Duis vestibulum tellus</a
                >
              </li>
              <li>
                <a href="#" data-tab="tab-2">Quam tempus sodales ipsum</a>
              </li>
              <li>
                <a href="#" data-tab="tab-3">Donec faucibus risus cursus</a>
              </li>
            </ul>
            <div class="tabs">
              <!-- Tab 1 -->
              <div class="tab tab-1 flex flex-3 active">
                <!-- Video Thumbnail -->
                <div>
                  <p>thoses are the car's categories links</p>
                  {% if categories%}
                  <ul>
                    {% for category in categories %}
                    <div class="video col">
                      <div class="image fit">
                        <img
                          src="{% static 'images/cat/' %}{{category.name}}.gif"
                          alt=""
                        />
                        <div class="arrow">
                          <div class="icon fa-play"></div>
                        </div>
                      </div>
                      <a href="/rango/categories/{{category.slug}}" class="link"
                        ><span>{{ category.name}}</span></a
                      >
                    </div>
                    {% endfor %}
                  </ul>
                  {% else %}
                  <strong>there are no categories bitch</strong>
                  {% endif %}
                </div>

                <!-- Video Thumbnail -->
              </div>

              <!-- Tab 2 -->

              <!-- Tab 3 -->
            </div>
          </div>
        </div>
      </section>

      <!-- Three -->
      <section class="wrapper">
        <div class="inner">
          <header class="align-center">
            <h2>Aliquam ipsum purus dolor</h2>
            <p>
              Cras sagittis turpis sit amet est tempus, sit amet consectetur
              purus tincidunt.
            </p>
          </header>

          <!-- 3 Column Video Section -->
          <div class="flex flex-3">
            <div class="video col">
              <div class="image fit">
                <img src="images/pic09.jpg" alt="" />
                <div class="arrow">
                  <div class="icon fa-play"></div>
                </div>
              </div>
              <p class="caption">
                Cras eget lacus sed mauris scelerisque tincidunt
              </p>
              <a href="{{msg}}" class="link"><span>Click Me</span></a>
            </div>
            <div class="video col">
              <div class="image fit">
                <img src="images/pic10.jpg" alt="" />
                <div class="arrow">
                  <div class="icon fa-play"></div>
                </div>
              </div>
              <p class="caption">
                Vivamus vulputate lacus non massa auctor lobortis
              </p>
              <a href="{{msg}}" class="link"><span>Click Me</span></a>
            </div>
            <div class="video col">
              <div class="image fit">
                <img src="images/pic11.jpg" alt="" />
                <div class="arrow">
                  <div class="icon fa-play"></div>
                </div>
              </div>
              <p class="caption">
                Nam eu nisi non ante sodales interdum a vitae neque
              </p>
              <a href="{{msg}}" class="link"><span>Click Me</span></a>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- Footer -->
    <footer id="footer">
      <div class="inner">
        <div class="flex flex-3">
          <div class="col">
            <h3>Vestibullum</h3>
            <ul class="alt">
              <li><a href="#">Nascetur nunc varius commodo.</a></li>
              <li><a href="#">Vis id faucibus montes tempor</a></li>
              <li><a href="#">Massa amet lobortis vel.</a></li>
              <li><a href="#">Nascetur nunc varius commodo.</a></li>
            </ul>
          </div>
          <div class="col">
            <h3>Lobortis</h3>
            <ul class="alt">
              <li><a href="#">Nascetur nunc varius commodo.</a></li>
              <li><a href="#">Vis id faucibus montes tempor</a></li>
              <li><a href="#">Massa amet lobortis vel.</a></li>
              <li><a href="#">Nascetur nunc varius commodo.</a></li>
            </ul>
          </div>
          <div class="col">
            <h3>Accumsan</h3>
            <ul class="alt">
              <li><a href="#">Nascetur nunc varius commodo.</a></li>
              <li><a href="#">Vis id faucibus montes tempor</a></li>
              <li><a href="#">Massa amet lobortis vel.</a></li>
              <li><a href="#">Nascetur nunc varius commodo.</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="copyright">
        <ul class="icons">
          <li>
            <a href="#" class="icon fa-twitter"
              ><span class="label">Twitter</span></a
            >
          </li>
          <li>
            <a href="#" class="icon fa-facebook"
              ><span class="label">Facebook</span></a
            >
          </li>
          <li>
            <a href="#" class="icon fa-instagram"
              ><span class="label">Instagram</span></a
            >
          </li>
          <li>
            <a href="#" class="icon fa-snapchat"
              ><span class="label">Snapchat</span></a
            >
          </li>
        </ul>
        &copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>.
        Images: <a href="https://unsplash.com">Coverr</a>. Video:
        <a href="https://coverr.co">Coverr</a>.
      </div>
    </footer>
    <div>
      {% if cars %}
      <ul>
        {% for car in cars%}
        <li><a href="{{car.url}}">{{ car }}</a></li>
        {% endfor %}
      </ul>
      {% else %}
      <p>Cars does not exits lol</p>
      {% endif %}
    </div>
    <div>
      <a href="{% url 'rango:add_cat' %}">add a category pleaaaaase!!!!</a>
      

    </div>
    <!-- Scripts -->
    <script src="% static 'js/index.js'%"></script>
  </body>
</html>
